body {
    background: #e56b6f;
    text-align: center;
    font-family: Verdana;
    
}

h1 {
    background-color: #6d597a;
    height: 80%;
    width: 60%;
    text-align: center;
    color: antiquewhite ;
    margin-left: 20%;
    border-radius: 20px;
    padding-bottom: 10px;
    font-size: 50px;
}

button{
    padding: 10px 30px;
    background-color: antiquewhite;
    border-radius: 20px;
    border-color: transparent;
    font-size: 30px;
    box-shadow: 6px 6px 4px gray;
}
button:hover{
    cursor: pointer;
}
button:active{
    box-shadow: 0px 0px 0px;
}
.none{
    display: none;
    position: relative;
    bottom: 50px
}
.initial{
    display: initial;
}
.maindiv{
    margin-top: 10vh;
}
#subscribe{
    position: sticky;
    top: 10vh;
}
img{
    width: 150px;
}